<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<!-- CSS -->
	<link href="../../../../styles/helper.css" rel="stylesheet">
	
	<!-- JS -->
	<script src="../../../../scripts/buildfire.js"></script>
   
 	<!--
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <script src="../../../../scripts/angular/ui-bootstrap.min.js"></script>

    <script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    -->
</head>
<body>
    <div class="item clearfix row">
		<div class="col-xs-4 col-xs-offset-4">
			<a class="btn btn-success stretch">Add New Geo Action</a>
		</div>
	</div>
	<hr class="none">
	<div class="item clearfix row tabs border-top-grey">
		<div class="col-xs-5 pull-left padding-right-zero">
			<div class="draggable-list-view no-media wide-list has-btn-link" style="background:#fff;">
				<div class="d-item double-line square-icon clearfix">
					<div class="copy pull-right">
						<span class="text-primary title ellipsis pull-left">Item Title</span>
						<span class="title ellipsis pull-left">Action Type</span>
						<div class="pull-right">
							<span class="btn-icon btn-delete-icon btn-danger"></span>
						</div>
					</div>
				</div>
				<div class="d-item double-line square-icon clearfix active">
					<div class="copy pull-right">
						<span class="text-primary title ellipsis pull-left">Item Title</span>
						<span class="title ellipsis pull-left">Action Type</span>
						<div class="pull-right">
							<span class="btn-icon btn-delete-icon btn-danger"></span>
						</div>
					</div>
				</div>
				<div class="d-item double-line square-icon clearfix">
					<div class="copy pull-right">
						<span class="text-primary title ellipsis pull-left">Item Title</span>
						<span class="title ellipsis pull-left">Action Type</span>
						<div class="pull-right">
							<span class="btn-icon btn-delete-icon btn-danger"></span>
						</div>
					</div>
				</div>
				<div class="d-item double-line square-icon clearfix">
					<div class="copy pull-right">
						<span class="text-primary title ellipsis pull-left">Item Title</span>
						<span class="title ellipsis pull-left">Action Type</span>
						<div class="pull-right">
							<span class="btn-icon btn-delete-icon btn-danger"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-7 border-left-grey pull-right padding-top-twenty">
			<div class="item clearfix row">
				<div class="labels col-xs-3 pull-left">
					<span>Title</span>
				</div>
				<div class="main col-xs-9 pull-right">
					<input type="text" placeholder="Title" class="form-control">
				</div>
			</div>
			<hr class="none">
			<div class="item clearfix row">
				<div class="labels col-xs-3 pull-left">
					<span>Action to Perform</span>
				</div>
				<div class="main col-xs-9 pull-right">
					<a class="btn btn-primary padding-left-thirty padding-right-thirty">Select Action</a>
					<a class="text-danger margin-left-ten small">Clear Action</a>
					<p class="info no-icon margin-top-ten">Action Selected: [Action_type]</p>
					<p class="info no-icon margin-zero">Link: [Link]</p>
				</div>
			</div>
			<hr class="none">
			<div class="item clearfix row">
				<div class="labels col-xs-3 pull-left">
					<span>Epicenter</span>
				</div>
				<div class="main col-xs-9 pull-right">
					<input type="text" placeholder="Enter address or lat/long coordinates" class="form-control">
				</div>
			</div>
			<hr class="none">
			<div class="item clearfix row">
				<div class="labels col-xs-3 pull-left">
					<span>Radio</span>
				</div>
				<div class="main col-xs-9 pull-right">
					<div class="col-xs-3 pull-left padding-zero">
						<input type="text" placeholder="0" class="form-control text-center">
					</div>
					<div class="col-xs-4 pull-left padding-zero text-center margin-top-five small">
						Miles and
					</div>
					<div class="col-xs-3 pull-left padding-zero">
						<input type="text" placeholder="0" class="form-control text-center">
					</div>
					<div class="col-xs-2 pull-left padding-zero text-center margin-top-five small">
						Feet
					</div>
				</div>
			</div>
			<hr class="none">
			<div class="item clearfix row">
				<div class="labels col-xs-3 pull-left">
					<span>Affected Area</span>
				</div>
				<div class="main col-xs-9 pull-right">
					<div style="height:280px; width:100%; background:#eef0f0;"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/ng-template" id="addGeoAction.html">
    <div class="header clearfix border-bottom-grey">
        <h4 class="margin-zero">Add New Geo Action</h4>
        <span class="icon icon-cross2 close-modal" ng-click="closeDialog()"></span>
	</div>
    <div class="padded clearfix">
        <div class="content">
			<div class="item clearfix row">
				<div class="labels col-xs-3 pull-left">
					<span>Item Title</span>
				</div>
				<div class="main col-xs-9 pull-right">
					<input type="text" placeholder="Item Title" class="form-control">
					<div class="alert alert-danger margin-top-ten alert-sm text-center" ng-show="error">Please enter an item title.</div>			        
				</div>
			</div>
			<hr class="none">
			<div class="item clearfix row">
				<div class="labels col-xs-3 pull-left">
					<span>Action Type</span>
				</div>
				<div class="main col-xs-9 pull-right">
					<div class="dropdown" dropdown>
						<button class="btn btn-default text-left dropdown-toggle" data-toggle="dropdown" dropdown-toggle aria-expanded="true">
							<span class="pull-left">Action Type</span>
					  		<span class="chevron icon-chevron-down pull-right"></span>
						</button>
						<ul class="dropdown-menu extended" role="menu">
							<li><a>Action Type</a></li>
							<li><a>Action Type</a></li>
							<li><a>Action Type</a></li>
		                </ul>
					</div>
					<div class="alert alert-danger margin-top-ten alert-sm text-center" ng-show="error">Please select an action type.</div>			        
				</div>
			</div>
        </div>
    </div>
    <div class="bottom border-top-grey clearfix">
        <div class="col-xs-6 pull-left text-center">
            <a class="text-danger default-background-hover transition-third"
               ng-click="closeDialog('cancel')">Cancel</a>
        </div>
        <div class="col-xs-6 pull-right text-center border-left-grey">
            <a class="text-success default-background-hover transition-third" ng-click="">Add</a>
        </div>
    </div>
</script>