<!DOCTYPE html>
<html ng-app="geoFencePluginContent">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="../../../../styles/helper.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../../styles/siteIcons.css">

    <!--SDK js-->
    <script src="../../../../scripts/buildfire.js"></script>
    <script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <script src="../../../../scripts/angular/angular-animate.min.js"></script>
    <script src="../../../../scripts/angular/ui-bootstrap.min.js"></script>


    <script src="enums.js"></script>
    <script src="services.js"></script>
    <script src="app.js"></script>
    <script src="directives.js"></script>
    <script src="modals.js"></script>
    <script src="assets/js/ng-infinite-scroll.js"></script>

    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpEguTSmOeMQM-4lLaJRoyWN8SlUrOjkg&v=3.exp&libraries=places"></script>
    <script src="controllers/content.home.controller.js"></script>
</head>
<body ng-controller="ContentHomeCtrl as ContentHome">
<div class="item clearfix row">
    <div class="col-xs-12 pull-left">
        Welcome to the GeoFence plugin service!
        This plugin allows you to trigger an action (e.g. local push notification, phone call, email, etc.) when users enter specific locations while the app is running in the background.
        Since the plugin runs in the background of your app, you do not need to link it on your app for it to work, and we recommend that you don't as it's not necessary.
        <br><br>
        <p class="info">
            Note: In order for the plugin to work in the control panel, you must access the site via HTTPS.
        </p>
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="col-xs-4 col-xs-offset-4 pull-left margin-left-ten">
        <a class="btn btn-success stretch" ng-click="ContentHome.addNewItem()" ng-disabled="ContentHome.updatingData">Add New Geo Action</a>
    </div>
    <div class="col-xs-4 col-xs-offset-1 pull-right checkbox checkbox-primary">
        <input id="checkboxid" type="checkbox" ng-change="ContentHome.saveInfo()" ng-model="ContentHome.geoInfo.data.highAccuracy" ng-checked="ContentHome.geoInfo.data.highAccuracy">
        <label for="checkboxid">Enable High Accuracy</label>
    </div>
</div>
<hr class="none">
<div class="item clearfix row tabs border-top-grey">
    <div class="col-xs-5 pull-left padding-right-zero">
        <div id="items-scroll-infinite" class="draggable-list-view no-media wide-list has-btn-link"
             style="background:#fff;">
            <div infinite-scroll-distance="0" infinite-scroll="ContentHome.getMore()"
                 infinite-scroll-disabled="ContentHome.noMore" infinite-scroll-container="'#items-scroll-infinite'">
                <div class="d-item double-line square-icon clearfix"
                     ng-repeat="item in ContentHome.items track by $index" ng-if="ContentHome.items.length"
                     ng-class="(item.id==ContentHome.geoAction.id) ? 'active' :'' ">
                    <div class="copy pull-right">
                        <span class="text-primary title ellipsis pull-left" ng-click="ContentHome.selectItem(item)">{{item.data.title}}</span>
                        <span class="title ellipsis pull-left">{{item.data.actionToPerform.action}}</span>

                        <div class="pull-right">
                            <span class="btn-icon btn-delete-icon btn-danger"
                                  ng-click="ContentHome.removeListItem($index,$even)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-7 border-left-grey pull-right padding-top-twenty">
        <div class="item clearfix row">
            <div class="labels col-xs-3 pull-left">
                <span>Title <span style="color: #d14;">*</span></span>
            </div>
            <div class="main col-xs-9 pull-right">
                <input type="text" placeholder="Title" class="form-control" ng-model="ContentHome.geoAction.data.title">
            </div>
        </div>
        <hr class="none">
        <div class="item clearfix row">
            <div class="labels col-xs-3 pull-left">
                <span>Notification Message</span>
            </div>
            <div class="main col-xs-9 pull-right">
                <textarea placeholder="Notification Message" class="form-control" ng-model="ContentHome.geoAction.data.notificationMessage"></textarea>
            </div>
        </div>
        <hr class="none">
        <div class="item clearfix row">
            <div class="labels col-xs-3 pull-left">
                <span>Action to Perform</span>
            </div>
            <div class="main col-xs-9 pull-right">
                <a class="btn btn-primary padding-left-thirty padding-right-thirty"
                   ng-click="ContentHome.openActionPopup()">Select Action</a>
                <a class="text-danger margin-left-ten small" ng-show="ContentHome.geoAction.data.actionToPerform.action"
                   ng-click="ContentHome.clearAction()">Clear Action</a>

                <p class="info no-icon break-word" ng-repeat="(key,value) in ContentHome.geoAction.data.actionToPerform"
                   ng-class="$index==0?'margin-top-ten' : 'margin-top-five' ">{{ContentHome.getKeyName(key)}}:
                    {{value}}</p>
                <!--<p class="info no-icon margin-top-ten">Action Selected: {{ContentHome.geoAction.data.actionToPerform.action}}</p>
                <p class="info no-icon margin-zero">Link: {{ContentHome.geoAction.data.actionToPerform.url}}</p>-->
            </div>
        </div>
        <hr class="none">
        <div class="item clearfix row">
            <div class="labels col-xs-3 pull-left">
                <span>Epicenter</span>
            </div>
            <div class="main col-xs-9 pull-right">
                <input type="text" placeholder="Enter address or lat/long coordinates" class="form-control"
                       id="googleMapAutocomplete"
                       google-location-search callback-fn="ContentHome.setLocation(data)"
                       ng-model="ContentHome.selectedLocation"
                       ng-enter="ContentHome.setCoordinates()"
                       ng-paste="ContentHome.locationAutocompletePaste()"
                       ng-change="ContentHome.clearData()">
            </div>
        </div>
        <hr class="none" ng-show="ContentHome.validCopyAddressFailure || ContentHome.validCoordinatesFailure">
        <div class="alert alert-danger alert-sm text-center"
             ng-show="ContentHome.validCopyAddressFailure">Please enter valid
            address
        </div>
        <div class="alert alert-danger alert-sm text-center"
             ng-show="ContentHome.validCoordinatesFailure">Please enter valid
            coordinates
        </div>
        <hr class="none">
        <div class="item clearfix row">
            <div class="labels col-xs-3 pull-left">
                <span>Radius</span>
            </div>
            <div class="main col-xs-9 pull-right">
                <div class="col-xs-3 pull-left padding-zero">
                    <input type="number" placeholder="0" class="form-control text-center"
                           ng-model="ContentHome.radiusMiles"
                           ng-change="ContentHome.updateRadius()"
                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </div>
                <div class="col-xs-4 pull-left padding-zero text-center margin-top-five small">
                    Miles and
                </div>
                <div class="col-xs-3 pull-left padding-zero">
                    <input type="number" placeholder="0" class="form-control text-center" ng-max="5279"
                           ng-model="ContentHome.radiusFeet"
                           ng-change="ContentHome.updateRadius()"
                           ng-model-options="{debounce : 300}"
                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </div>
                <div class="col-xs-2 pull-left padding-zero text-center margin-top-five small">
                    Feet
                </div>
            </div>
        </div>
        <hr class="none">
        <div class="item clearfix row">
            <div class="main col-xs-9 pull-right padding-zero text-center margin-top-zero small">
                Note: Minimum radius is 10 Feet.
            </div>
        </div>
        <hr class="none">
        <div class="item clearfix row">
            <div class="labels col-xs-4 pull-left">
                <span>Affected Area</span>
            </div>
        </div>
      <hr class="none">
      <div class="item clearfix row">
        <div class="main col-xs-9 pull-right">
          <div style="height:280px; width:100%; background:#eef0f0;" google-map="{{ContentHome.center}}"
               google-map-radius="{{ContentHome.geoAction.data.radius}}"></div>
        </div>
      </div>
    </div>
</div>
</body>
</html>